@model Kaubaladu.Good

@{
    ViewBag.Title = "Details";
}

<h2>Detailid</h2>

<div>
    <h4>Toode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pilt
            @*@Html.DisplayNameFor(model => model.Image)*@
        </dt>

        <dd>
            <img src="../@Html.DisplayFor(model => model.Img)" height="300px">
            @*@Html.DisplayFor(model => model.Image)*@
        </dd>

        <dt>
            Nimetus
            @*@Html.DisplayNameFor(model => model.Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Seerianumber
            @*@Html.DisplayNameFor(model => model.Serial)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            Kategooria
            @*@Html.DisplayNameFor(model => model.Cathegory)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cathegory)
        </dd>

        <dt>
            Päritolumaa
            @*@Html.DisplayNameFor(model => model.Origin)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            Ühik
            @*@Html.DisplayNameFor(model => model.Unit)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            Kogus
            @*@Html.DisplayNameFor(model => model.Amount)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            Omanik
            @*@Html.DisplayNameFor(model => model.Owner)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.Name != "admin")
    { @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) } |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
