@model IEnumerable<Kaubaladu.Good>

@{
    ViewBag.Title = "Index";
}

<h2>Tootenimekiri</h2>

<p>
    @if(User.Identity.Name != "admin"){ @Html.ActionLink("Lisa uus toode", "Create") }
</p>
@if(User.Identity.Name == "admin")
            {
                using (Html.BeginForm("Index", "Goods", FormMethod.Get))
                {
                    @Html.TextBox("name", null, new { placeholder="Nimetus"})
                    @Html.TextBox("serial", null, new { placeholder="Seerianumber"})
                    @Html.TextBox("cathegory", null, new { placeholder = "Kategooria" })
                    @Html.TextBox("origin", null, new { placeholder = "Päritolumaa" })
                    @Html.TextBox("owner", null, new { placeholder = "Omanik" })
                <p>
                    <input type="submit" value="Otsi" />
                </p>
                }
            }
<table class="table">
    <tr>
        <th>
            Pilt 
            @*@Html.DisplayNameFor(model => model.Image)*@
        </th>
        <th>
            Nimetus
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Seerianumber 
            @*@Html.DisplayNameFor(model => model.Serial)*@
        </th>
        <th>
            Kategooria 
            @*@Html.DisplayNameFor(model => model.Cathegory)*@
        </th>
        <th>
            Päritolumaa 
            @*@Html.DisplayNameFor(model => model.Origin)*@
        </th>
        <th>
            Ühik 
            @*@Html.DisplayNameFor(model => model.Unit)*@
        </th>
        <th>
            Kogus 
            @*@Html.DisplayNameFor(model => model.Amount)*@
        </th>
        <th>
            Omanik 
            @*@Html.DisplayNameFor(model => model.Owner)*@
        </th>
        <th></th>
    </tr>
    @*@if(Model.Count() == 0)
{
    <tr>
        <td colspan="3" style="color:red">
            Vastuseid ei leitud
        </td>
    </tr>
}
else
{*@
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Img)" width="50" height="50px">
                @*@Html.DisplayFor(modelItem => item.Img)
                @Html.DisplayFor(modelItem => item.Image)*@
                @*<img src="@Url.Content(@model.Image)" alt="Image" height="25px"/>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cathegory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @if (User.Identity.Name != "admin")
                { @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) }  |
                @Html.ActionLink("Detailid", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
@*}*@

</table>
